<template>
<!-- header -->
<the-nav-bar />
<!-- view content -->
  <router-view />
<!-- footer -->
<the-footer />
</template>
<script setup>
import TheNavBar from "./components/layout/global/TheNavBar.vue"
import TheFooter from "./components/layout/global/TheFooter.vue"
</script>

