<template>
<main>
  <!-- Hero Section TODO: Draft here and then create in component, potentially use named slots for best flexibility -->
  <hero-header>
    <!-- Secondary Nav -->
      <app-nav :url="editions/workstation" :text="Workstation">
      <!-- nav links-->
      <app-nav-link>Download</app-nav-link> 
      <app-nav-link>Community</app-nav-link>
      <app-nav-link>Get Help</app-nav-link>
      <app-nav-link>Get Started</app-nav-link>
      </app-nav>
    <!-- Title Section -->
    <div>
      <h1>The leading Linux desktop</h1>
      <p>A beautiful high-quality desktop built on the latest open source technology. Trusted, powerful, easy.</p>
    </div>
    <!-- Latest Release and  Foreground Image -->
    <div></div>
    <!-- Call to Action Buttons -->
    <div>
      <btn-solid></btn-solid>
      <btn-outline></btn-outline>
      <btn-arrow></btn-arrow>
    </div>
  </hero-header>

  <!-- Why Fedora Workstation -->
  <!-- TODO: Add triangle sections on top and bottom -->
  <section>
    <h2>Why Fedora Workstation?</h2>
    <!-- Unordered List -->
    <!-- TODO Test for best workflow for these list sections between slots, props, and child components -->
  </section>
  <!-- Features for everyone -->
  <section>
    <h2>Features for everyone</h2>
    <!-- pass content programatally using reusable components -->
    <!-- TODO: Model component from this make it loopable -->
    <article>
      <!-- use css order to put the image first on render -->
      <div>
      <h3>Fantastic Apps</h3>
      <p>Browse a great collection of apps, covering everything you might need. Includes exciting new open source apps as well as familar apps from other platforms.</p>
      </div>
      <div>
        <img src="" alt="">
      </div>
    </article>
  </section>
  <section>
    <h2>Great for Developers</h2>
    <!-- Make sure that this list component uses same logic as the app list component -->
    <!-- TODO: Pick a better name for it -->
    <img-ul />
    <div>
      <h3>Get started developing with Fedora</h3>
    <!-- group of cards in a gradient box -->
    </div>
  </section>
  <!-- Built by you section TODO: consider making a component that has the slashed background by default -->
  <section>
    <div>
      <h2>Built By You</h2>
      <!-- This might need multiple divs for rows -->
      <p></p>
      <p></p>
    </div>
    <!-- list of things for getting people connected-->
    <div>
    </div>
  </section>
  <!-- Try it now CTA: Kinda like a card -->
  <section>
    <!-- Workstation logo -->
    <!-- Try it now text -->
    <!-- Get started button-->
    <BtnSolid>Get Started</BtnSolid>
  </section>
</main>
</template>
<script setup>
import AppList from '@/components/utilities/lists/AppList.vue';
import AppCard from '@/components/utilities/cards/AppCard.vue'
import AppHeroSection from '@/components/layout/page/AppHeroSection.vue';
import ImageBulletList from '@/components/utilities/lists/ImageBulletList.vue'
import ImageBulletListItem from '@/components/utilities/lists/ImageBulletListItem.vue';
import BtnSolid from '@/components/utilities/buttons/BtnSolid.vue';
import BtnOutline from '@/components/utilities/buttons/BtnOutline.vue';
import BtnArrow from '@/components/utilities/buttons/BtnArrow.vue';
import AppNav from '@/components/layout/page/AppNav.vue'
import AppNavLink from '@/components/layout/page/AppNavLink.vue'
</script>