<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <router-link to="/" class="navbar-brand col-1">
        <img src="@/assets/images/logos/fedora-logo.webp" class="img-fluid">
      </router-link>
      <ul class="navbar-nav">
        <li v-for="route in navRoutes" :key="route.id" class="nav-item">
          <router-link :to="route.path" class="nav-link">{{ route.name }}</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script setup>
import routes from "../../../router/index"
import { computed } from 'vue'

// return all routes except for the last one
const navRoutes = computed(() => {
  return routes.options.routes.slice(0, -1)
})

</script>